*.plt
*.out
*.json
*.tar*
*.xml*
*.iml*
*.INP*
*.TXT*
.idea/*
dalton/*
hf*
hf/*
hf/*/*
data_tables/*



.ipynb_checkpoints/madness_to_dalton-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/read_madness_json.cpython-39.pyc
!/data_tables/
!/data_tables/
!/lda/
!/symmetry fun.ipynb
.ipynb_checkpoints/post-florian-checkpoint.ipynb
__pycache__/daltonRunner.cpython-39.pyc
*.pyc
*.pyc
