*.plt
*.out
*.json
*.tar*
*.xml*
*.iml*
*.INP*
*.pyc
*.TXT*
.idea/*
dalton/*
hf*
hf/*
hf/*/*
data_tables/*

__pycache__/



.ipynb_checkpoints/madness_to_dalton-checkpoint.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
__pycache__/read_madness_json.cpython-39.pyc
!/data_tables/
!/data_tables/
!/lda/
!/symmetry fun.ipynb
.ipynb_checkpoints/post-florian-checkpoint.ipynb
__pycache__/daltonRunner.cpython-39.pyc
*.pyc
*.pyc
/.ipynb_checkpoints/Timings 6-3-2022 excited-state-checkpoint.ipynb
/.ipynb_checkpoints/Timings 6-2-2022 (polarizability data)-checkpoint.ipynb
*.pyc
.ipynb_checkpoints/compas set-checkpoint.ipynb
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
bin/
build/
develop-eggs/
dist/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
nosetests.xml
coverage.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject

# Rope
.ropeproject

# Django stuff:
*.log
*.pot

# Sphinx documentation
docs/_build/
